body{
  font-family:inter;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 5%;
}
img{
  border-radius: 50%;
}
.location{
  color:hsl(75, 94%, 57%);
}

